@page
@model MalgreTout.Pages.Contactpeople.GetContactPeopleModel
@{ ViewData["Title"] = "Kontakt"; }

<h1> @Html.DisplayFor(model => model.DistributionPoints.First().Company)</h1>

<table class="table">
	<tbody>
		@if (Model.DistributionPoints.Count() != 0)
		{
			@foreach (var item in Model.DistributionPoints)
			{
				<tr>
					<th>Adresse</th>
					@if (item.Address == null)
					{
						<td></td>
					}
					else
					{
						<td>@item.Address</td>
					}
				</tr>
				<tr>
					<th>Postnummer</th>
					@if (item.Zipcode == 0)
					{
						<td></td>
					}
					else
					{
						<td>@item.Zipcode</td>
					}
				</tr>
				<tr>
					<th>By</th>
					@if (item.ZipcodeNavigation.City == null)
					{
						<td></td>
					}
					else
					{
						<td>@item.ZipcodeNavigation.City</td>
					}
				</tr>
			}
		}
		@if (Model.Contactpeople.Count() != 0)
		{
			@foreach (var item in Model.Contactpeople)
			{
				<tr>
					<th>Email</th>
					@if (item.Email == null)
					{
						<td></td>
					}
					else
					{
						<td>@item.Email</td>
					}
				</tr>
				<tr>
					<th>Telefon</th>
					@if (item.Phone == null)
					{
						<td></td>
					}
					else
					{
						<td>@item.Phone</td>
					}
				</tr>
			}
		}
		else
		{
			<tr>
				<th>Email</th>
				<td></td>
			</tr>
			<tr>
				<th>Telefon</th>
				<td></td>
			</tr>
		}




		@if (Model.OpeningHours.Count() != 0)
		{
			<tr>
				<th>Åbningstider</th>
				<td>
					@foreach (var i in Model.OpeningHours)
					{
						@i.WeekDay <br /> @i.OpenHours <br />
					}
				</td>
				}
			</tr>

		}
		else
		{
			<tr>
				<th>Åbningstider</th>
				<td></td>
			</tr>
		}
	</tbody>
</table>
