@page
@model MalgreTout.Pages.Contactpeople.GetContactPeopleModel
@{ ViewData["Title"] = "Kontakt"; }

@if (Model.DistributionPoints.First().Company != null)
{
	<h1> @Html.DisplayFor(model => model.DistributionPoints.First().Company)</h1>
}
else
{
	<h1>Fejl</h1>
}

<table class="table">
	<tbody>
		@if (Model.DistributionPoints.Count() != 0)
		{
			<tr>
				<th>Adresse</th>
				@foreach (var item in Model.DistributionPoints)
				{
					@item.Address
					<br />
				}
			</tr>
			<tr>
				<th>Postnummer</th>
				@foreach (var item in Model.DistributionPoints)
				{
					@item.Zipcode
					<br />
				}
			</tr>
			<tr>
				<th>By</th>
				<td>
					@foreach (var item in Model.DistributionPoints)
					{
						@item.ZipcodeNavigation.City <br />
					}
			</tr>
		}
		else
		{
			<tr>
				<th>Adresse</th>
				<td></td>
			</tr>
			<tr>
				<th>Postnummer</th>
				<td></td>
			</tr>
			<tr>
				<th>By</th>
				<td></td>
			</tr>
		}

		@if (Model.Contactpeople.Count() != 0)
		{
			<tr>
				<th>Email</th>
				<td>
					@foreach (var item in Model.Contactpeople)
					{
						@item.Email <br />
					}
				</td>
			</tr>
			<tr>
				<th>Telefon</th>
				<td>
					@foreach (var item in Model.Contactpeople)
					{
						@item.Phone <br />
					}
				</td>
			</tr>
		}
		else
		{
			<tr>
				<th>Email</th>
				<td></td>
			</tr>
			<tr>
				<th>Telefon</th>
				<td></td>
			</tr>
		}

		@if (Model.OpeningHours.Count() != 0)
		{
			<tr>
				<th>Åbningstider</th>
				<td>
					@foreach (var i in Model.OpeningHours)
					{
						@i.WeekDay <br /> @i.OpenHours <br />
					}
				</td>
			</tr>

		}
		else
		{
			<tr>
				<th>Åbningstider</th>
				<td></td>
			</tr>
		}
	</tbody>
</table>
