@page
@model MalgreTout.Pages.DistributionPoints.DeleteModel
@{ ViewData["Title"] = "Slet lokation"; }
<br /><br />
<h3>Godkend slettelse af lokation</h3>
<div>
	<hr />
	<form method="post">
		<dl class="row">

			@*<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DistributionPoint.LocationId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DistributionPoint.LocationId)
		</dd>*@
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.DistributionPoint.Company)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.DistributionPoint.Company)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.DistributionPoint.Address)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.DistributionPoint.Address)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.DistributionPoint.Zipcode)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.DistributionPoint.Zipcode)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.DistributionPoint.ZipcodeNavigation.City)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.DistributionPoint.ZipcodeNavigation.City)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Contactperson.Contactperson1)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Contactperson.Contactperson1)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Contactperson.Email)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Contactperson.Email)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Contactperson.Phone)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Contactperson.Phone)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.OpeningHour.OpenHours)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.OpeningHour.WeekDay)
				@Html.DisplayFor(model => model.OpeningHour.OpenHours)
			</dd>
		</dl>


		<input type="hidden" asp-for="DistributionPoint.LocationId" />
		<input type="submit" value="Delete" class="btn btn-danger" /> |
		<a asp-page="GetDistributionPoints">Tilbage til liste</a>
	</form>
</div>