@page
@model MalgreTout.Pages.DistributionPoints.GetDistributionPointsModel
@{ ViewData["Title"] = "Lokationer"; }
<h1>Lokationer</h1>
<p>
	<a asp-page="/DistributionPoints/Create">Opret lokation</a>
</p>
<form>
	<p>
		Search: <input type="text" asp-for="FilterCriteria" />
		<input type="submit" value="Filter" />
		<a asp-page="/DistributionPoints/GetDistributionPoints">Tilbage til liste </a>
	</p>
</form>
<h4 style="color:red"> Liste af lokationer</h4>
<table class="table">
	<thead>
		<tr>
			<th>Lokation ID</th>
			<th>Firmanavn</th>
			<th>Adresse</th>
			<th>Postnummer </th>
			<th>Bynavn</th>
			<th>Åbningstid</th>
			<th></th>
			@*<th>Telefon</th>
				<th>Email</th>*@
		</tr>
	</thead>
	<tbody>

		@if (Model.DistributionPoints != null)
		{
			@foreach (var item in Model.DistributionPoints)
			{
				<tr>
					<td>  @item.LocationId </td>
					<td>  @item.Company </td>
					<td>  @item.Address </td>
					<td>  @item.Zipcode </td>

					@if (item.ZipcodeNavigation.City == null)
					{
						<td></td>
					}
					else
					{
						<td>  @item.ZipcodeNavigation.City</td>
					}



					@if (item.OpeningHours.Count == 0)
					{
						<td></td>
						<td></td>
					}
					else
					{
						<td colspan="2">
							@foreach (var i in item.OpeningHours)
							{
								@i.WeekDay @i.OpenHours <br />
							}
						</td>
					}


					@*@if (item.Contactpeople.Count == 0)
						{
							<td></td>
							<td></td>
						}
						else
						{
							<td>  @item.Contactpeople.First().Phone</td>
							<td>  @item.Contactpeople.First().Email</td>
						}*@


					<td>
						<input type="button" onclick="" value="Kontakt" class="btn btn-primary" />
						@*ht tps://www.w3schools.com/howto/howto_css_modals.asp onclick should be alert(@item.Contactpeople.First().Phone)*@
					</td>


					<td>
						<p>
							<a asp-page="/DistributionPoints/Update" asp-route-id="@item.LocationId">Opdater</a>
						</p>
						<p>
							<a asp-page="/DistributionPoints/Delete" asp-route-id="@item.LocationId">Slet</a>
						</p>
					</td>
				</tr>
			}
		}
</table>

