@page
@model MalgreTout.Pages.DistributionPoints.UpdateModel
@{ ViewData["Title"] = "Rediger lokation"; }

<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="  ModelOnly  " class="text-danger">
			</div>
			<div class="form-group">
				<label asp-for="@Model.DistributionPoint.LocationId" class="control-label"></label>
				<input asp-for="@Model.DistributionPoint.LocationId" class="form-control" />
				<span asp-validation-for="@Model.DistributionPoint.LocationId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.DistributionPoint.Company" class="control-label"></label>
				<input asp-for="@Model.DistributionPoint.Company" class="form-control" />
				<span asp-validation-for="@Model.DistributionPoint.Company" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="@Model.DistributionPoint.Address" class="control-label"></label>
				<input asp-for="@Model.DistributionPoint.Address" class="form-control" />
				<span asp-validation-for="@Model.DistributionPoint.Address" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.DistributionPoint.Zipcode" class="control-label"></label>
				<input asp-for="@Model.DistributionPoint.Zipcode" class="form-control" />
				<span asp-validation-for="@Model.DistributionPoint.Zipcode" class="text-danger"></span>
			</div>
			@*Opening hours*@
			<div class="form-group">
				<label asp-for="@Model.OpeningHour.LocationId" class="control-label"></label>
				<input asp-for="@Model.OpeningHour.LocationId" value="@Model.DistributionPoint.LocationId" class="form-control" />
				<span asp-validation-for="@Model.OpeningHour.LocationId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.OpeningHour.WeekDay" class="control-label"></label>
				<input asp-for="@Model.OpeningHour.WeekDay" class="form-control" />
				<span asp-validation-for="@Model.OpeningHour.WeekDay" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.OpeningHour.OpenHours" class="control-label"></label>
				<input asp-for="@Model.OpeningHour.OpenHours" class="form-control" />
				<span asp-validation-for="@Model.OpeningHour.OpenHours" class="text-danger"></span>
			</div>
			@*Contact person*@
			<div class="form-group">
				<label asp-for="@Model.Contactperson.LocationId" class="control-label"></label>
				<input asp-for="@Model.Contactperson.LocationId" value="@Model.DistributionPoint.LocationId" class="form-control" />
				<span asp-validation-for="@Model.Contactperson.LocationId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Contactperson.Contactperson1" class="control-label"></label>
				<input asp-for="@Model.Contactperson.Contactperson1" class="form-control" />
				<span asp-validation-for="@Model.Contactperson.Contactperson1" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Contactperson.Email" class="control-label"></label>
				<input asp-for="@Model.Contactperson.Email" class="form-control" />
				<span asp-validation-for="@Model.Contactperson.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Contactperson.Phone" class="control-label"></label>
				<input asp-for="@Model.Contactperson.Phone" class="form-control" />
				<span asp-validation-for="@Model.Contactperson.Phone" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Update" class="btn btn-primary" /> |
				<a asp-page="GetDistributionPoints">Tilbage til liste</a>
			</div>
		</form>
	</div>
</div>